<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.leeeyou.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sample.leeeyou.customview.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.sample.leeeyou.customview.demo1.Demo1MainActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo1.Demo1EcgViewActivity" />

        <activity android:name="com.sample.leeeyou.customview.demo2.Demo2MainActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo2.Demo2ColorMatrixFilterActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo2.Demo2DstInActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo2.Demo2DstOutActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo2.Demo2EraserActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo2.Demo2LightingColorFilterActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo2.Demo2PorterDuffColorFilterActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo2.Demo2PorterDuffXfermodeActivity" />

        <activity android:name="com.sample.leeeyou.customview.demo3.Demo3MainActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo3.Demo3FontActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo3.Demo3MaskFilterActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo3.Demo3ShadowActivity" />

        <activity android:name="com.sample.leeeyou.customview.demo4.Demo4MainActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo4.Demo4BrickViewActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo4.Demo4DreamViewActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo4.Demo4MatrixImageViewActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo4.Demo4ReflectViewActivity" />

        <activity android:name="com.sample.leeeyou.customview.demo5.Demo5MainActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo5.Demo5RadarActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo5.Demo5SecondOrderBesselActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo5.Demo5ThirdOrderBesselActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo5.Demo5PathMeasureActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo5.Demo5PathTextPaintActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo5.Demo5PolyLineViewActivity" />

        <activity android:name="com.sample.leeeyou.customview.demo6.Demo6MainActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo6.Demo6LayerViewBasicActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo6.Demo6LayerViewSaveRestoreActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo6.Demo6LayerViewTransferActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo6.Demo6MatrixViewActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo6.Demo6PieViewActivity" />

        <activity android:name="com.sample.leeeyou.customview.demo7.Demo7MainActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo7.Demo7CustomLayoutActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo7.Demo7IconViewActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo7.Demo7ImgViewActivity" />

        <activity android:name="com.sample.leeeyou.customview.demo8.Demo8MainActivity" />

        <activity android:name="com.sample.leeeyou.customview.demo9.Demo9MainActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo9.Demo9CombiningActivity" />
        <activity android:name="com.sample.leeeyou.customview.demo9.Demo9SlackActivity" />

    </application>

</manifest>