<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leeeyou.sampleofcustomview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".demo1.Demo1MainActivity" />
        <activity android:name=".demo1.ECGViewActivity" />

        <activity android:name=".demo2.Demo2MainActivity" />
        <activity android:name=".demo2.ColorMatrixFilterActivity" />
        <activity android:name=".demo2.DST_IN_Activity" />
        <activity android:name=".demo2.DST_OUT_Activity" />
        <activity android:name=".demo2.EraserActivity" />
        <activity android:name=".demo2.LightingColorFilterActivity" />
        <activity android:name=".demo2.PorterDuffColorFilterActivity" />
        <activity android:name=".demo2.PorterDuffXfermodeActivity" />

        <activity android:name=".demo3.Demo3MainActivity" />
        <activity android:name=".demo3.FontActivity" />
        <activity android:name=".demo3.MaskFilterActivity" />
        <activity android:name=".demo3.ShadowActivity" />

        <activity android:name=".demo4.Demo4MainActivity" />
        <activity android:name=".demo4.BrickViewActivity" />
        <activity android:name=".demo4.DreamViewActivity" />
        <activity android:name=".demo4.MatrixImageViewActivity" />
        <activity android:name=".demo4.ReflectViewActivity" />

        <activity android:name=".demo5.Demo5MainActivity" />
        <activity android:name=".demo5.RadarActivity" />
        <activity android:name=".demo5.SecondOrderBesselActivity" />
        <activity android:name=".demo5.ThirdOrderBesselActivity" />
        <activity android:name=".demo5.PathMeasureActivity" />
        <activity android:name=".demo5.PathTextPaintActivity" />
        <activity android:name=".demo5.PolyLineViewActivity" />

        <activity android:name=".demo6.Demo6MainActivity" />
        <activity android:name=".demo6.LayerViewBasicActivity" />
        <activity android:name=".demo6.LayerViewSaveRestoreActivity" />
        <activity android:name=".demo6.LayerViewTransferActivity" />
        <activity android:name=".demo6.MatrixViewActivity" />
        <activity android:name=".demo6.PieViewActivity" />

        <activity android:name=".demo7.Demo7MainActivity" />
        <activity android:name=".demo7.CustomLayoutActivity" />
        <activity android:name=".demo7.IconViewActivity" />
        <activity android:name=".demo7.ImgViewActivity" />

        <activity android:name=".demo8.Demo8MainActivity" />

        <activity android:name=".demo9.Demo9MainActivity" />
        <activity android:name=".demo9.CombiningActivity" />
        <activity android:name=".demo9.SlackActivity" />

    </application>

</manifest>